<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">

      {%- if page.in_prep -%}
        {%- assign content = "<em>Manuscript in preparation</em>" -%}
      {%- elsif page.submitted_in -%}
        {%- assign content = "<em>Under review</em>" -%}
      {%- elsif page.accepted_in and page.redirect_to == nil -%}
        {%- assign content = "<em>Manuscript in press</em>" -%}
      {%- endif -%}

      {{ content }}

    </div>

</article>
